# VLX FrameFlow User Profile
FRAMEFLOW_USER="frameflow"
VLXsuite_DIR="/opt/VLX_FrameFlow"
MEDIAMTX_DIR="/opt/mediamtx"

# Wi-Fi AP Password
AP_PASSWORD=""

# GPS Tracker
gps_target_url=""

# Network settings
FRAMEFLOW_ROLE=""
MLVPN_SERVER_IP=""
SHADOWSOCKS_SERVER_IPS=""
MPTCP_PROXY_PASS=""
MLVPN_KEY=""

# Cameraman
DB_DSN="/opt/VLX_FrameFlow/var/frameflow.db"
# Standard Ingest
WEBRTC_URL="webrtc://frameflow-server.example:8889/cam"
# Bonded Ingest
SRT_URL="srt://frameflow-server.example:8890?streamid=publish:cam"

# Client API
# This is the native backend API on the Client device (SBC).
# It serves local UI requests and remote requests routed through the Server API relay.
bind_address=127.0.0.1
bind_port=9090
# (comma-separated list of allowed CORS origins)
allowed_origins="127.0.0.1"

# Backend Credentials
bkend_user1=admin
bkend_pass1=admin
