# (optional, if empty fallback to localhost)
bind_address=0.0.0.0
# (optional, if empty fallback to 8080)
bind_port=8080
# Frontend GUI user credential
FF_GUI_USER=frontend
FF_GUI_PASS=frontend
# (connection to backend: optional, if empty set to localhost)
backend_address=127.0.0.1
# (connection to backend: optional, if empty set to 9090)
backend_port=9090
# Client certificate path for frontend (optional, required if backend enforces mTLS)
client_crt=/opt/VLX_FrameFlow/certs/frontend01.crt
# Client key path for frontend (optional, required if backend enforces mTLS)
client_key=/opt/VLX_FrameFlow/certs/frontend01.key
