###############################################
# VLX FrameFlow - MediaMTX Configuration Template (Client)
###############################################
logLevel: info
logDestinations: [syslog]
#logDestinations: [file]
#logFile: /opt/mediamtx/mediamtx.log
sysLogPrefix: mediamtx
readTimeout: 10s
writeTimeout: 10s
writeQueueSize: 512
udpMaxPayloadSize: 1472

runOnConnect:
runOnConnectRestart: no
runOnDisconnect:

authMethod: internal
authInternalUsers:
  - user: any
    ips:
      - '127.0.0.1'
      - '::1'
      - '192.168.168.0/24'
      - '10.1.10.0/24'
    permissions:
      - action: publish
        path: ~^(wificam|cameraman)
      - action: read
        path: ~^(wificam|cameraman)
      - action: playback
        path: ~^(wificam|cameraman)

api: yes
apiAddress: 127.0.0.1:9997
metrics: no
pprof: no
playback: no
rtsp: no
rtmp: yes
rtmpAddress: :1935
rtmpEncryption: "no"
rtmpsAddress: :1936
rtmpServerKey:
rtmpServerCert:
hls: no
webrtc: yes
srt: yes
srtAddress: :8890
webtransport: no

pathDefaults:
  source: publisher
  sourceFingerprint:
  sourceOnDemand: no
  maxReaders: 0
  srtReadPassphrase:
  fallback:
  useAbsoluteTimestamp: false
  overridePublisher: yes
  srtPublishPassphrase:
  # Hooks & Scripts
  runOnInit:
  runOnInitRestart: no
  runOnDemand:
  runOnDemandRestart: no
  runOnDemandStartTimeout: 10s
  runOnDemandCloseAfter: 10s
  runOnUnDemand:
  # Dynamic Relay Injection Point
  runOnReady:
  runOnReadyRestart: no
  runOnNotReady:
  runOnRead:
  runOnReadRestart: no
  runOnUnread:
  runOnRecordSegmentCreate:
  runOnRecordSegmentComplete:

paths:
  ~^wificam:
  ~^cameraman:
